# Cognito
COGNITO_CLIENT_ID: !Ref UserPoolClient
COGNITO_CLIENT_SECRET: !GetAtt UserPoolClient.ClientSecret
COGNITO_POOL_ID: !Ref UserPool

# Database
MAIN_TABLE_NAME: !Ref MainTable

# Buckets
MEALS_BUCKET: !Ref MealsBucket

# CDN
MEALS_CDN_DOMAIN_NAME: !If
  - ShouldSetupMealsCDNCustomDomain
  - ${env:MEALS_CDN_DOMAIN_NAME, ''}
  - !GetAtt MealsBucketCDN.DomainName

# Queues
MEALS_QUEUE_URL: !Ref MealsQueue
